body{
    text-align: center;
    padding-top: 40px;
    background-color: blanchedalmond;
}

.externo{
    display: block;
    width: 60%;
    margin: auto;
    padding: 10px;
    
}

.interno-entrada{
  height: 200px;
  border: 1px solid;
  border-bottom-color: rgb(254, 218, 164);;
  background-color:  rgb(254, 218, 164);
  box-shadow: 10px 10px;
}

.interno-coisas{
  height: auto;
  border: 1px solid;
  border-top-color: rgb(254, 218, 164);;
  background-color:  rgb(254, 218, 164);
  box-shadow: 10px 10px;
  /*padding: 20px 0 20px 0;*/
}

#coisas{
transition: 0.5s;
}
table, th, td {
  border: none;
  border-spacing: 0px;
}
table{
  width: 100%;
}
tr{
  width: 100%;
  padding-bottom: 5px;
}
tr:nth-child(even) {
  background-color: rgb(227, 195, 147);
}
.td-span{
  padding-left: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
  width: 80%;
  
/*
  white-space: nowrap;
  text-overflow: ellipsis;
*/
}
.lista-coisa{
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 550px;
  color: rgb(89, 59, 14);
  text-overflow: ellipsis; 
}
.lista-coisa.of-off{
  overflow: visible;
  text-overflow: clip; 
  width: 550px;
  color: rgb(89, 59, 14); 
}
.td-btn{
  width: auto;
}
.td-btn button{
  border: solid 0px;
  color: rgb(89, 59, 14);
  background-color: inherit ;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.1s;
}
.td-btn button:hover{
  transform: scale(1.2);
}

.interno-coisas h1{
  font-size: 20px;
}
h1{
  font-size: 40px;
  color: black;
  
}
#h1coisa{
  opacity: 0.5;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#h1coisa.show{
  transform-origin: center;
  transition: transform 0.1s ease-out, /* Escala */
              margin 0.1s ease-out,   /* Margens */
              height 0.1s linear,   /* Altura */
              padding 0.1s ease-out;  /* Padding */
  transform: scale(1);
  visibility: show;
  margin: 10px 0 10px 0;
  height: auto;
}

#h1coisa.hidden{
  transform-origin: center;
  transition: transform 0.1s ease-out,
              opacity 0.1s ease-out,
              visibility 0s 0.1s linear, /* visibility fica hidden APÓS 0.2s (quando opacity é 0) */
              margin 0.1s 0.1s ease-out,
              height 0.1s 0.1s linear,
              padding 0.1s 0.1s ease-out;
  transform: scale(0.01);
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
}

#entrada[type=text]{
  outline-color: rgb(255, 156, 7);
  width: 80%;
  border-radius: 5px;
  border: 0;
  height: auto;
  padding: 10px;
}

#entrada[type=text]:focus {
  border: 0;
  outline-style: solid;
  outline-color: rgb(209, 126, 1);
}
#btnentrada{
  height: auto;
  border: solid 0px;
  background-color: rgb(255, 172, 46);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
}
#btnentrada:hover{
 background-color: rgb(255, 156, 7);
}



.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}


#btn-toast{
  position: absolute;
  left: 5%;
  border: solid 0px;
  background-color: rgb(255, 172, 46);
  border-radius: 5px;
  cursor: pointer;
}
#btn-toast:hover{
 background-color: rgb(255, 156, 7);
}
#numtoast{
  position: absolute;
  right: 5%;
}


 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  display: relative;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(255, 172, 46);; /* Black background color */
  color: #000; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 8px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */

  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}
#txttoast{
  text-align: justify !important;
  width: auto;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 